
@{
    ViewBag.Title = "Gioithieu";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

<h2>Gioithieu</h2>
<p>
    a &lt; b; &forall; i &isin;[0,225]
</p>
<p>H<sub></sub>2+bx+c=0</p>
<p>Giá gốc :<del> 300.000VND</del>;<span style="color:red"> Giá giảm:250.000 VND</span></p>
<p style="color:orange">
    Tuy vậy khi tách<b>sở này ra cần có tư duy</b>, cơ chế <strong>mới </strong>  để cơ quan này thực hiện hiệu quả vai trò. 
    Từng tham gia thực hiện một số đồ án quy hoạch lớn cho thành phố, tôi nhận ra các sở, ngành gần như mặc định quy hoạch là việc của Sở Quy hoạch - Kiến trúc. Trong khi thành phố chưa có cơ quan nào nắm bắt hết tiềm năng và thách thức của tất cả lĩnh vực.
    Thành phố phải xây <i>dựng cơ chế để</i> cơ <em>quan này </em>thực sự thành nhạc trưởng của phát triển đô thị
    , tức là mỗi sở ban ngành phải cử nhạc công tham gia dàn nhạc. Không<span style="color:red"> ai hiểu rõ hơn TP HCM </span>cần bao nhiêu trường học trong 5-10 năm tới, phân bổ ở đâu ngoài Sở Giáo dục hoặc Sở Công Thương sẽ biết cần bao nhiêu khu công nghiệp, Y tế biết cần bao nhiêu bệnh viện.
</p>

<pre>
    <span style="color:lawngreen">Tuy vậy khi tách sở này ra </span>cần có tư duy, cơ c hế mới để cơ quan này thực hiện hiệu quả vai trò.
    Từng tham gia thực hiện một số đồ án quy hoạch  lớn cho thành phố, tôi nhận ra các sở, ngành gần như mặc định quy hoạch là việc của Sở Quy hoạch - Kiến trúc. Trong khi thành phố chưa có cơ quan nào nắm bắt hết tiềm năng và thách thức của tất cả lĩnh vực.
    Thành phố phải xây dựng cơ chế để cơ quan này th ực sự thành nhạc trưởng của phát triển đô thị
    , tức là mỗi sở ban ngành phải cử nhạc công t     
  ham gia dàn nhạc. Không ai hiểu rõ hơn TP HCM cần bao nhiêu trường học trong 5-10 năm tới, phân bổ ở đâu ngoài Sở Giáo dục hoặc Sở Công Thương sẽ biết cần bao nhiêu khu công nghiệp, Y tế biết cần bao nhiêu bệnh viện.
</pre>
