
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

<h2>Công ty ABC chuyên cung cấp cà phê hạt</h2>
<a href="https://www.google.com/?hl=vi&zx=1758264777463&no_sw_cr=1" target="_blank" title="Đây là đường dẫn mở trang google" >
   Google
</a><br />
<a href="Sanpham" target="_blank">Sản phẩm</a><br />
<a href="Gioithieu" target="_blank">Giới thiệu</a><br />
<a href="/Home/Index" target="_blank">Index Home</a><br />
<a href="#gt2">Đi tới giới thiệu 2</a><br />
<a href="#gt1">Đi tới giới thiệu 1</a><br />
<div style="height:200px;background-color:purple">
    <a href="~/TaiLieu/css.pdf" target="show-do">Tài liệu</a><br />
    <iframe width="500" height="500" name="show-do"></iframe>
</div>
<div style="height:300px;background-color:blue" id="gt">Giới thiệu</div>
<div style="height:300px;background-color:brown" id="gt2">Giới thiệu 2</div>



