
@{
    ViewBag.Title = "TestGrid";
    Layout = "~/Views/Shared/_LayoutGrid.cshtml";
}

<h2>Danh sách sản phẩm</h2>
<div class="list-product">
    <div class="box-pro">
        <img src="~/Hinh/maytinh1.jpg" class="fm-img" />
        <br />
        <p><b>Tên Sản Phẩm</b>Máy tính 1</p>
        <p><b>Giá: </b>200.000 VNĐ</p>
    </div>
    <div class="box-pro">
        <img src="~/Hinh/maytinh1.jpg" class="fm-img" />
        <br />
        <p><b>Tên Sản Phẩm</b>Máy tính 1</p>
        <p><b>Giá: </b>200.000 VNĐ</p>
    </div>
    <div class="box-pro">
        <img src="~/Hinh/maytinh1.jpg" class="fm-img" />
        <br />
        <p><b>Tên Sản Phẩm</b>Máy tính 1</p>
        <p><b>Giá: </b>200.000 VNĐ</p>
    </div>
    <div class="box-pro">
        <img src="~/Hinh/maytinh1.jpg" class="fm-img" />
        <br />
        <p><b>Tên Sản Phẩm</b>Máy tính 1</p>
        <p><b>Giá: </b>200.000 VNĐ</p>
    </div>
    <div class="box-pro">
        <img src="~/Hinh/maytinh1.jpg" class="fm-img" />
        <br />
        <p><b>Tên Sản Phẩm</b>Máy tính 1</p>
        <p><b>Giá: </b>200.000 VNĐ</p>
    </div>
    <div class="box-pro">
        <img src="~/Hinh/maytinh1.jpg" class="fm-img" />
        <br />
        <p><b>Tên Sản Phẩm</b>Máy tính 1</p>
        <p><b>Giá: </b>200.000 VNĐ</p>
    </div>
    <div class="box-pro">
        <img src="~/Hinh/maytinh1.jpg" class="fm-img" />
        <br />
        <p><b>Tên Sản Phẩm</b>Máy tính 1</p>
        <p><b>Giá: </b>200.000 VNĐ</p>
    </div>
    <div class="box-pro">
        <img src="~/Hinh/maytinh1.jpg" class="fm-img" />
        <br />
        <p><b>Tên Sản Phẩm</b>Máy tính 1</p>
        <p><b>Giá: </b>200.000 VNĐ</p>
    </div>
    <div class="box-pro">
        <img src="~/Hinh/maytinh1.jpg" class="fm-img" />
        <br />
        <p><b>Tên Sản Phẩm</b>Máy tính 1</p>
        <p><b>Giá: </b>200.000 VNĐ</p>
    </div>
    <div class="box-pro">
        <img src="~/Hinh/maytinh1.jpg" class="fm-img" />
        <br />
        <p><b>Tên Sản Phẩm</b>Máy tính 1</p>
        <p><b>Giá: </b>200.000 VNĐ</p>
    </div>
</div>

