
@{
    ViewBag.Title = "trangchu";
    Layout = "~/Views/Shared/_LayoutPage3.cshtml";
}
<p class="fm-pa">
    The quick brown fox jumps over the lazy dog.The quick brown fox jumps over the lazy dog.The quick brown fox jumps over the lazy dog.The quick brown fox jumps over the lazy dog.The quick brown fox jumps over the lazy dog.The quick brown fox jumps over the lazy dog.The quick brown fox jumps over the lazy dog.The quick brown fox jumps over the lazy dog.The quick brown fox jumps over the lazy dog.The quick brown fox jumps over the lazy dog
</p>
<p>
    The quick brown fox jumps over the lazy dog.The quick brown fox jumps over the lazy dog.The quick brown fox jumps over the lazy dog.The quick brown fox jumps over the lazy dog.The quick brown fox jumps over the lazy dog.The quick brown fox jumps over the lazy dog.The quick brown fox jumps over the lazy dog.The quick brown fox jumps over the lazy dog.The quick brown fox jumps over the lazy dog.The quick brown fox jumps over the lazy dog
</p>
<ul style="list-style:none;">
    <li>
        &#x2705; HTML
    </li>
    <li>&#x2705; CSS</li>
    <li>&#x2705; JavaScript</li>
</ul>
<ol style="list-style-type:none">
    <li>HTML</li>
    <li>CSS</li>
    <li>JavaScript</li>
</ol>

<table border="1" style="border-collapse:collapse;width:50%;height:200px" class="tbl1">
    <tr id="tieude">
        <th>STT</th>
        <th>Tên sản phẩm</th>
        <th>Số lượng</th>
    </tr>
    <tr>
        <td>01</td>
        <td>cafe loại 1</td>
        <td>100 NG</td>
    </tr>
    <tr>
        <td>01</td>
        <td>cafe loại 1</td>
        <td>100 NG</td>
    </tr>
    <tr>
        <td>01</td>
        <td>cafe loại 1</td>
        <td>100 NG</td>
    </tr>
    <tr>
        <td>01</td>
        <td>cafe loại 1</td>
        <td>100 NG</td>
    </tr>
    <tr>
        <td>01</td>
        <td>cafe loại 1</td>
        <td>100 NG</td>
    </tr>
    <tr>
        <td>01</td>
        <td>cafe loại 1</td>
        <td>100 NG</td>
    </tr>
    <tr>
        <td colspan="3">tổng cộng:100KG</td>
    </tr>
</table>

<form>
    <input type="text" value="hộp loại này bị disable" disabled />
    <label name="iHoten">Nhập họ tên</label>
    <input type="text" name="iHoten" id="iHoten" required />
    <input type="radio" name="gt" value="nam" />
    <label for="gt">Nam</label>
    <input type="radio" name="gt" value="nu" />
    <label for="gt">nữ</label>
    <input type="number" value="0" min="18" max="65" />
    <input type="submit" value="Gửi" />
</form>
<h1 class="td1">heading 1</h1>
<h1 class="td1b">Tiêu đề 1</h1>
<h2 class="td1">Tiêu đề 1</h2>
<div style="width:200px">
    <p class="p1">P1</p>
    <p>P2</p>
    <p class="p1">P1</p>
    <h3 class="p1">Heading 3</h3>
    <h2>tiêu đề 21</h2>
    <p>nội dung</p>
    <h4>tiêu đề 4</h4>
</div>
<ul>
    <li>Mục 1</li>
    <li>Mục 2</li>
    <li>Mục 3</li>
    <li>Mục 4</li>
</ul>
<ol>
    <li>Mục 1</li>
    <li>Mục 2</li>
    <li>Mục 3</li>
    <li>Mục 4</li>
</ol>

